*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

body{
    transition: opacity 0.3s ease-in-out;
    background-color: rgb(243, 242, 240);
}

/* For Header */
.header-main{
    height: 75px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f1c40f;
    box-shadow: 0 7px 15px #2c3e50;
    padding: 0px 30px;
    border-bottom: 3px solid rgb(5, 11, 42);
    max-width: 100%;
}

.header-main h2{
    color: rgb(5, 11, 42);
}

.header-main a{
    text-decoration: none;
    color: rgb(5, 11, 42);
    font-weight: bold;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo svg{
    height: 45px;
}
.middle-phase{
    display: flex;
    gap: 15px;
}

.middle-phase a:hover{
    border-bottom: 2px solid rgb(5, 11, 42);
    padding-bottom: 3px;
}

.middle-phase-below{
    display: none;
}

.right-phase{
    display: flex;
    list-style: none;
    align-items: center;
}

.right-phase li svg{
    height: 25px;
}

.welcome-msg{
    margin-right: 20px;
    padding-left: 3px;
}
.right-phase li:hover{
    border-bottom: 2px solid rgb(5, 11, 42);
    padding-bottom: 3px;
}

/* For Footer  */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-div{
    height: 50px;
    background-color: rgb(5, 11, 42);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    gap: 6px;
}

.footer-div svg{
    height: 20px;
    color: white;
}

/* Home page  */

.home-container{
    width: 700px;
    margin: 100px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.home-container h1{
    margin-bottom: 20px;
    color: rgb(5, 11, 42);
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button{
    height: 200px;
    width: 200px;
    padding: 15px;
    font-size: 17px;
    background-color:aqua;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}

.button:hover{
    height: 205px;
    width: 205px;
    transform: rotate(3deg);
    transition: 0.2s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.btn-form button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.btn-form button svg{
    height: 90px;
    fill: white;
}

.buy-book{
    background-color: #e74c3c;
}
.return-book{
    background-color: #2ecc71;
}

.donate-book{
    background-color: #f1c40f;
}

.form-box{
    margin: 25px;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

/* For See All Books */

.see-container{
    background-color: grey;
    width: 60%;
    margin: 100px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: white;
    box-shadow: 8px 10px 36px black ;
}

.see-container h1{
    padding: 15px;
}

.all-books-div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    border-top: 1px solid grey;
}

.all-books-div li{
    list-style-type: none;
    background-color: aqua;
    font-weight: bold;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px black;
    margin: 5px;
    
}

.all-books-div ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.all-books-div li:nth-child(4n+2) { background-color: #3498db; color: white; font-size: 15px;} /* Blue */
.all-books-div li:nth-child(4n+1) { background-color: #e74c3c; color: white; font-size: 15px;} /* Red */
.all-books-div li:nth-child(4n+3) { background-color: #2ecc71; color: white; font-size: 15px;} /* Green */
.all-books-div li:nth-child(4n+4) { background-color: #f1c40f; color: white; font-size: 15px;} 


/* for buy books */

.buy-form{
    width: 100%;
    margin: 20px;
}


.buy-form form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buy-form form input{
    height: 25px;
    width: 85%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}

.buy-btn{
    padding: 10px 13px;
    border-radius: 5px;
    border:none;
    width: 16%;
    background-color: green;
    color: white ;
    cursor: pointer;
}


/* For Login Page */

.login-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 150px auto;
    background: white;
    border-radius: 10px;
    align-items: center;
    padding: 25px;
    gap: 15px;
    box-shadow: 7px 7px 20px black;
}

.login-box h1{
    padding: 10px;
    margin-bottom: 20px;
}

.login-form{
    width: 100%;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

form div input{
    padding: 9px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
}

form div input:focus{
    outline: none;
}

form div label{
    font-size: 14px;
    font-weight: bold;
}

.login-btn{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #025acd;
    color: white;
}



@media (max-width: 500px){
    
    .logo svg{
        height: 30px; 
    }

    .header-main h2{
        font-size: 13px;
    }

    .middle-phase{
        display: none;
    }

    .button{
        height: 150px;
        width: 230px;
    }

    .home-container{
        width: 550px;
        margin: 35px auto;
    }

    .welcome-msg{
        font-size: 13px;
    }

    .home-container h1{
        font-size: 33px;
        text-align: center;
    }

    .see-container h1{
        font-size: 15px;
    }

    .all-books-div li{
        font-size: 10px;
        padding: 12px;
    }
    .header-main{
        max-width: 100%;
        border: 1px solid grey;
        box-shadow: none;
        padding: 10px;
    }

    .right-phase li svg{
        height: 15px;
    }

    .header-main a{
        font-size: 13px;
    }

    .form-box{
        flex-direction: column;
        align-items: center;
    }

    .middle-phase-below{
        display: flex;
        padding: 15px;
        width: 100%;
        gap: 20px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid black;
        background-color: white;
        font-size: 14px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3)
    }
    
    .middle-phase-below a{
        text-decoration: none;
        color: rgb(5, 11, 42);
    }

    .login-box{
        width: 80%;
    }

    form div label{
        font-size: 14px;
    }

    form div input{
        font-size: 14px;
    }

    .login-btn{
        font-size: 17px;
    }

    .login-box h1{
        padding: 0px;
    }

    .all-books-div{
        padding: 12px 0px;
    }

    .all-books-div ul{
        gap: 10px;
    }

    .see-container{
        width: 85%;
        text-align: center;
        margin: 50px auto;
    }

    .buy-form form input{
        width: 75%;
    }

    .buy-btn{
        width: 23%;
    }
}

@media (min-width: 481px) and (max-width: 800px){

    .logo svg{
        height: 52px;   
    }

    .header-main h2{
        font-size: 25px;
    }

    .middle-phase{
        display: none;
    }

    .button{
        height: 250px;
        width: 250px;
    }

    .home-container{
        width: auto;
    }

    .welcome-msg{
        font-size: 15px;
    }

    .home-container h1{
        font-size: 45px;
    }

    .header-main{
        max-width: 100%;
        border: 1px solid grey;
        box-shadow: none;
    }

    .form-box{
        flex-direction: column;
        align-items: center;
    }

    .middle-phase-below{
        display: flex;
        padding: 15px;
        width: 100%;
        gap: 20px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid black;
        background-color: white;
        font-size: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3)
    }
    
    .middle-phase-below a{
        text-decoration: none;
        color: rgb(5, 11, 42);
    }

    .login-box{
        width: 350px;
    }

    form div label{
        font-size: 14px;
    }

    form div input{
        font-size: 14px;
    }

    .login-btn{
        font-size: 14px;
    }

    .login-box h1{
        padding: 13px;
    }

    .see-container{
        width: 85%;
        margin: 50px auto;
    }

    .buy-form form input{
        width: 75%;
    }

    .buy-btn{
        width: 23%;
    }

}